[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=plurkicon
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_plurk
X-KDE-PluginInfo-Author=AceLan Kao
X-KDE-PluginInfo-Email=acelan@gmail.com
X-KDE-PluginInfo-Name=choqok_plurk
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.acelan.idv.tw
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Plurk
Name[bg]=Plurk
Name[bs]=Plurk
Name[ca]=Plurk
Name[ca@valencia]=Plurk
Name[cs]=Plurk
Name[da]=Plurk
Name[de]=Plurk
Name[el]=Plurk
Name[en_GB]=Plurk
Name[eo]=Plurk
Name[es]=Plurk
Name[et]=Plurk
Name[fi]=Plurk
Name[fr]=Plurk
Name[ga]=Plurk
Name[gl]=Plurk
Name[hr]=Plurk
Name[hu]=Plurk
Name[it]=Plurk
Name[ja]=Plurk
Name[km]=Plurk
Name[nb]=Plurk
Name[nds]=Plurk
Name[nl]=Plurk
Name[pa]=ਟਵਿੱਟਰ
Name[pl]=Plurk
Name[pt]=Plurk
Name[pt_BR]=Plurk
Name[ro]=Plurk
Name[ru]=Plurk
Name[sv]=Plurk
Name[tr]=Plurk
Name[ug]=Plurk
Name[uk]=Plurk
Name[x-test]=xxPlurkxx
Name[zh_CN]=Plurk
Name[zh_TW]=Plurk
Comment=Plurk.com Service
Comment[bg]=Услуга на сайта Plurk.com
Comment[bs]=Servis plurk.com
Comment[ca]=Servei Plurk.com
Comment[ca@valencia]=Servei Plurk.com
Comment[da]=Plurk.com-tjenesten
Comment[de]=Plurk.com-Dienst
Comment[el]=Υπηρεσία Plurk.com
Comment[en_GB]=Plurk.com Service
Comment[es]=Servicio de Plurk.com
Comment[et]=Plurk.com-i teenus
Comment[fi]=Plurk.com-palvelu
Comment[fr]=Service Plurk.com
Comment[gl]=Servizo Plurk.com
Comment[hr]=Servis plurk.com
Comment[hu]=Plurk.com szolgáltatás
Comment[it]=Servizio Plurk.com
Comment[ja]=Plurk.com サービス
Comment[km]=សេវា​របស់​​ Plurk.com 
Comment[nb]=Plurk.com-tjeneste
Comment[nds]=De Deenst "Plurk.com"
Comment[nl]=Plurk.com-service
Comment[pa]=Plurk.com ਸਰਵਿਸ
Comment[pl]=Serwis Plurk.com
Comment[pt]=Serviço do Plurk.com
Comment[pt_BR]=Serviço Plurk.com
Comment[ro]=Serviciu Plurk.com
Comment[ru]=Служба Plurk.com
Comment[sv]=Plurk.com-tjänst
Comment[tr]=Plurk.com Servisi
Comment[uk]=Служба Plurk.com
Comment[x-test]=xxPlurk.com Servicexx
Comment[zh_CN]=Plurk.com 服务
Comment[zh_TW]=Plurk.com 服務
